# OS
# ===========
.DS_Store
ehthumbs.db
Icon?
Thumbs.db

# Node and related ecosystem
# ==========================
.nodemonignore
node_modules
.bower-*/
bower_components
coverage
*.env
*.env.*
.nyc_output

# General
# =======
*.log
bundles
uploads

# Editors
# =======
.idea
.vscode
.scannerwork
