language: node_js
node_js:
  - "14"

sudo: false

branches:
  only: master

after_success: jest --detectOpenHandles --coverage && cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js && rm -rf ./coverage
