.footer.segment {
    padding: 3em 0;
}

.field-validation-error {
    color: #d0021b;
    font-weight: bold;
}

a[disabled] {
    pointer-events: none;
}

.ui.cards > .card {
    width: 320px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#item-cards-container .ui.cards > .card > .content > .header:not(.ui) {
    font-size: 1.1em;
}

#item-cards-container .ui.cards > .card > .content {
    border: none;
}

.ui.loader {
    top: 50% !important;
    left: 50% !important;
    position: fixed !important;
}
