#app {
    display: flex;
    min-height: 100vh;
    flex-direction: column
}

.footer.segment {
    padding: 3em 0;
}

.field-validation-error {
    color: #d0021b;
    font-weight: bold;
}

a[disabled] {
    pointer-events: none;
}

#item-cards-container .ui.cards > .card > .content > .header:not(.ui),
#category-cards-container .ui.cards > .card > .content > .header:not(.ui) {
    font-size: 1em;
}

#item-cards-container .ui.cards > .card > .content,
#category-cards-container .ui.cards > .card > .content {
    border: none;
}

#loader {
    display: none;
}

@media only screen and (max-width: 1024px) {
    .ui.left.rail {
        left: 0;
        width: 100%;
        padding-right: 0;
        position: relative;
        margin-bottom: 10px;
    }

    .image-wrapper {
        width: 70%;
        margin: auto !important;
    }
}

@media only screen and (max-width: 786px) {
    .ui.left.rail {
        left: 0;
        width: 100%;
        padding-right: 0;
        position: relative;
        margin-bottom: 10px !important;
    }

    .image-wrapper {
        width: 70%;
        margin: auto !important;
    }
}

.segment {
    border: none !important;
    box-shadow: none !important;
}
